<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="viewport" content="width=device-width" />

  <title>Elampdata</title>
 <style>
	body {
    		font-family: "Bookerly";
	}
</style>
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
</head>
<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="false" data-set-preferred-mode-onload="false">
  <div class="page-wrapper with-navbar">
   <div class="sticky-alerts"></div>
    <div class="content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-6">
					<center>
					<img src="{{ IMAGES.iiith_logo }}" height=120px width="auto">
					</center>
				</div>
				<div class="col-6">
					<center>
						<img src="{{ IMAGES.scrc_logo }}" height=100px width="auto">
					</center>
				</div>
			</div>

			<div class="row">
			<h5><center> Smart City Dashboard</center></h5>
			  <div class="col-12">
				<img src="{{ IMAGES.main_map }}" width="100%" height="auto">
			  </div>
			</div>
			<div class="row">
			  <div class="col-6">
					<center>
						<h1 class="bob" id="-27-c">☁ <b> {{ AIRQ.temp }}</b> °C</h1>
						<h5 class="bob" id="51-aqi-56-uv">rH <b>{{ AIRQ.hum }}</b>% | ≟ AQI <b>{{ AIRQ.AQI }}</b></h5>
						<center>
						<h5><code>✺ {{ PACCHU.lux }} lux</code></h5>
						<h5><code>⋊ {{ PACCHU.dB }} dB</code></h5>
						</center>
					</center>
			  </div>
			  <br>
			  <div class="col-6">
				  	<center>
						<table class="table">
							<br>
							<tbody>
								{% for node in NODES %}
								<tr>
									<td> {{ node.NAME }}</td>
									<td> {{ node.DATA }} {{ node.UNIT }}</td>
								 </tr>
                                                                 <hr>
    							{% endfor %}
							</tbody>
						  </table>
				  	</center>
			  </div>
			</div>

    </div>
    <center>
    <img src={{ IMAGES.wisun_logo }} width=20%,height=auto>
    <center>
</div>
  <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
</body>
</html>
